@using EmployeeHelpDeskWebApp.Enums
@model EmployeeHelpDeskWebApp.Models.KBCategory


<form method="post" asp-action="DeleteKBCategoryConfirm">
    <div class="container p-3 border">
        <div class="row pt-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Id" hidden />

            <div class="col-6">
                <h2 class="text-primary">Удаление категории</h2>
            </div>

        </div>

        <br />

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-4">
                <input asp-for="Name" class="form-control" disabled>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        @if (Model.Files.Count() > 0)
        {
            <table class="table table-bordered table-striped" style="width: 100%">
                <thead>
                    <tr>
                        <th>
                            Дата добавления
                        </th>
                        <th>
                            Название
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.Files)
                    {
                        <tr>
                            <td width="20%">@obj.DateAdded</td>
                            <td width="55%">@obj.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-center">Файлы отсутствуют.</p>
        }

        <br />

        <div class="row">
            <div class="col-9">
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100 text-light" value="Удалить" />
                        </div>
                        <div class="col">
                            <a asp-action="Management" class="btn btn-primary w-100"><i class="fa-solid fa-arrow-right-from-bracket"></i> Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
